<div class="overflow">
    <div class="not-found d-flex align-items-center justify-content-between">
        <div class="container">
            <div class="text-center d-md-flex align-items-center justify-content-between">
                <h1 class="my-4 my-md-0">404 Сторінку не знайдено</h1>
                <a class="btn btn-pinok mb-4 mb-md-0 mx-auto mx-md-0 ms-md-auto" routerLink="/">Повернутися на сайт</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9">
                <img class="not-found-img" src="/assets/404.png" alt="not-found">
            </div>
        </div>
    </div>
</div>
