<div class="container">
    <div class="row justify-content-around">
        <div class="col-8">
            <h1>Тестова назва</h1>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingFilter" [(ngModel)]="filterText" placeholder="Введіть текст для фільтрації">
                <label for="floatingFilter">Введіть текст для фільтрації</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let lot of products | filter: filterText" [routerLink] = "['/products', lot.slug]">
            <img [src]="lot.img" [alt]="lot.name" class="w-100">
            <h3>{{ lot.name }}</h3>
            <p>{{ lot.price }}₴</p>
        </div>
    </div>
</div>
