.btn{
    &-pinok{
        padding: 11px 30px 9px;
        transition: all .5s ease-in-out;
        background: var(--secondaryColor);
        color: white;
        border-radius: 3px;
        font-size: 16px;
        &:hover{
            background-color: var(--cartColor);
            color: white;
        }


        &--green{
            background: var(--colorSuccess); 
            &:hover{
                background-color: var(--colorSuccessDark);
                color: white;
            }
        }

        &--outline{
            padding: 8px 30px 7px;
            background: transparent;
            border: 1px solid var(--secondaryColor);
            color: var(--secondaryColor);

            &:hover{
                color: #fff;
                border: 1px solid var(--cartColor);
            }
        }

        &--small{
            padding: 8px 5px 7px;
        }
    }
}