.lotCard{
    $c: &;
    width: 100%;
    max-width: 270px;
    box-shadow: 0px 0px 100px var(--boxShadow);
    cursor: pointer;
    padding-bottom: 16px;
    position: relative;

    &-img{
        position: relative;
        width: 100%;
        height: 280px;
        background-color: var(--cardBg);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;

        img{
            // position: absolute;
            // inset: 0 0 0 0;
            width: 160px;
            max-width: 160px;
            height: 160px;
            max-height: 160px;
            overflow: hidden;
            object-fit: cover;
            object-position: center;
        }
    }

    &:hover{
        #{$c}-img{
            background-color: var(--cardHover);
        }
    }

    &-info{
        padding-top: 15px;
    }

    &-title{
        height: 35px;
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 21px;
        color: var(--cardNameColor);
    }

    &-price{
        font-size: 14px;
        line-height: 16px;
        color: var( --priceColor);
    }

    &-trash{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        box-shadow: 0px 0px 10px 5px var(--bgShadeDark);
        color: var(--secondaryColor);
        font-size: 14px;
        transition: all .5s ease-in-out;

        &:hover{
            color: var(--cartColor);
            box-shadow: 0px 0px 10px 5px var(--secondaryColor);
        }
    }
}

.commentCard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--bgSite);
    box-shadow: 0px 0px 25px 5px var(--cardHover);

    @media screen and (min-width: 768px){
        padding: 15px;
        min-height: 200px;
        overflow: hidden;
    }
}

.commentName{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}