.cart{
    &-title{
        font-size: 20px;
        line-height: 23px;
        font-weight: 500;
        color: $cardNameColor;
        margin-bottom: 30px;
    }

    &-item{
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $bgShadeDark;

        &-head{
            position: relative;

            .lotCard-trash{
                font-size: 16px;
                font-weight: 700;
                top: -5px;
                right: -5px;
            }
        }

        &-image{
            height: 150px;
            object-fit: cover;
            object-position: center;

            @media screen and (min-width: 450px){
                height: 200px;
            }

            @media screen and (min-width: 768px){
                height: 175px;
            }

            @media screen and (min-width: 992px){
                height: 150px;
            }

            @media screen and (min-width: 1200px){
                height: 100px;
            }
        }

        &-title{
            font-size: 20px;
            color: $cardNameColor;

            @media screen and (min-width: 992px){
                font-size: 18px;
            }
        }

        &-price{
            font-weight: 500;
            font-size: 16px;
            color: $secondaryColor;
            &--dark{
                color: $cartColor;
            }
        }

        &-count{
            user-select: none;
            background: $bgShadeLight;
            width: 60px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-btn{
                padding: 0;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                font-weight: 500;
                height: 100%;
                background-color: $bgShadeDark;
                color: $subTextColor;
                cursor: pointer;
                transition: all .5s ease-in-out;

                &:focus{
                    outline: none;
                    border: none;
                    box-shadow: none;
                }

                &:hover{
                    background-color: $subTextColor;
                    color: $bgShadeDark;
                }

                &[disabled]{
                    opacity: .4;
                    pointer-events: none;
                }
            }
        }
    }

    &-summary{
        padding: 15px;
        background-color: $bgShadeLight;
        @media screen and (min-width: 992px){
            padding: 30px;
        }

        &-price{
            font-size: 18px;
            color: $cardNameColor;
            font-weight: 400;
            margin-bottom: 20px;
            padding-bottom: 8px;
            border-bottom: 2px solid $bgShadeDark;

            @media screen and (min-width: 992px){
                margin-bottom: 30px;
            }

            &--price{
                font-weight: 500;
            }
        }
    }
}

