.form-floating{
    margin-bottom: 30px;
    position: relative;
    .form-control{
        background-color: transparent;
        box-shadow: 0px 0px 20px rgba(#0D0E43, .15);
        color: var(--textColor);
        &.notValid{
            border: 2px solid red;   
        }
        &.valid{
            border: 2px solid green;   
        }
    }
    .validDesc{
        font-size: 12px;
        position: absolute;
        display: block;
        text-align: center;
        color: var(--secondaryColor);
        left: 0;

        @media screen and (max-width: 768px){
            font-size: 10px;
        }
    }
    
}

.customCheckbox{
    display: flex;

    input[type = "checkbox"]{
        opacity:0;
        width: 0;
        height: 0;

        & ~ label{
            display: flex;
            align-items: center;
            position: relative;
            border: 1px solid #495057;
            background-color: #f3e9ed;
            border-radius: 999px;
            width: 64px;
            height: 32px;
            transition: all .5s ease-in-out;
            font-size: 0px;
            line-height: 0px;
        }

        & ~ label:before{
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 4px;
            bottom: 4px;
            left: 4px;
            width: 22px;
            height: 22px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-brightness-high-fill' viewBox='0 0 16 16'%3E%3Cpath d='M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z'/%3E%3C/svg%3E") no-repeat center/16px 16px ,white;
            box-shadow: 0px 0px 2px 2px black;
            border-radius: 999px;
            transform: rotate(-360deg);
            transition: all .5s ease-in-out;
        }

        &:checked ~ label{
            background-color: black;
        }

        &:checked ~ label:before{
            left: auto;
            right: 4px;
            transform: rotate(0deg);
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-moon-stars-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z'/%3E%3Cpath d='M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z'/%3E%3C/svg%3E") no-repeat center/16px 16px,black;
            box-shadow: 0px 0px 2px 2px white;
        }


    }
}
