.form-floating{
    margin-bottom: 30px;
    position: relative;
    .form-control{
        box-shadow: 0px 0px 20px rgba($primaryColor, .15);
        &.notValid{
            border: 2px solid red;   
        }
        &.valid{
            border: 2px solid green;   
        }
    }
    .validDesc{
        font-size: 12px;
        position: absolute;
        display: block;
        text-align: center;
        color: $secondaryColor;
        left: 0;

        @media screen and (max-width: 768px){
            font-size: 10px;
        }
    }
    
}

