@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');

$font: 'Jost', sans-serif;

.whiteTheme{
    --primaryColor: #0D0E43;
    --primaryColor50: #0D0E4388;
    --secondaryColor: #FB2E86;
    --priceColor: #FB2E86;
    --primaryColorLight: #111C85;
    --textColor: #52577b;
    --subTextColor: #8A8FB9;
    --cartColor: #9F63B5;
    --cardNameColor: #151875;
    --cardBg: #F6F7FB;
    --cardHover: #EBF4F3;
    --bgShade: #EEEFFB;
    --bgShadeDark: #E7E4F8;
    --bgShadeLight: #F9F8FE;
    --colorSuccess: #19D16F;
    --colorSuccessDark: #0c7c41;
    --bgSite: #fff;
    --boxShadow: #0D0E4320;
    --bgModal: #ffffff45;
    --modalText: #3F2E3E;
    --modalSubText: #8f7db3;
}

.darkTheme{
    --primaryColor: #8093f1;
    --primaryColor50: #8093f188;
    --secondaryColor: #FB2E86;
    --priceColor: #D61355;
    --primaryColorLight: #111C85;
    --textColor: #f8f9fa;
    --subTextColor: #f5f3f4;
    --cartColor: #9F63B5;
    --cardNameColor: #9f86c0;
    --cardBg: #495057;
    --cardHover: #6c757d;
    --bgShade: #788bff;
    --bgShadeDark: #5465ff;
    --bgShadeLight: #231942;
    --colorSuccess: #19D16F;
    --colorSuccessDark: #0c7c41;
    --bgSite: #212529;
    --boxShadow: #8093f120;
    --bgModal: #00000040;
    --modalText: #FFF4F4;
    --modalSubText: #a792d0;
}


@function HexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
  }