@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');

$font: 'Jost', sans-serif;

$primaryColor: #0D0E43;
$secondaryColor: #FB2E86;
$primaryColorLight: #111C85;
$textColor: #9295AA;
$subTextColor: #8A8FB9;
$cartColor: darkmagenta;
$cardNameColor: #151875;
$cardBg: #F6F7FB;
$cardHover: #EBF4F3;
