<div class="cart-item w-100">
  <div class="row justify-content-between align-items-center">
    <div class="col-12 col-sm-5 col-lg-3 col-xl-2">
      <div class="cart-item-head">
        <img [src]="cartItem.img" [alt]="cartItem.name" class="cart-item-image w-100">
      <button class="lotCard-trash" (click)="removeFromCart()"><i class="bi bi-x"></i></button>
      </div>
    </div>
    <div class="col-12 col-sm-7 col-lg-3 col-xl-3">
      <h3 class="cart-item-title text-center text-sm-start mt-3 mt-md-0">{{ cartItem.name }}</h3>
      <div class="d-flex d-lg-none cart-item-price my-2 my-md-3 justify-content-center justify-content-sm-start">Ціна: {{cartItem.price}}₴</div>
      <div class="d-flex d-lg-none mb-2 mb-md-3 justify-content-center justify-content-sm-start">
        Кількість: 
        <div class="cart-item-count ms-2">
          <span class="cart-item-count-btn" (click)="minusQuantity()">-</span> 
          {{ cartItem.quantity }} 
          <span class="cart-item-count-btn" (click)="plusQuantity()">+</span></div>
        </div>
      <div class="d-flex d-lg-none cart-item-price cart-item-price--dark justify-content-center justify-content-sm-start">Загалом: {{price}}₴</div>
    </div>
    <div class="col-lg-2 d-none d-lg-block">
      <div class="d-flex justify-content-center cart-item-price">{{cartItem.price}}₴</div>
    </div>
    <div class="col-lg-2 col-xl-3 d-none d-lg-block">
      <div class="d-flex justify-content-center">
        <div class="cart-item-count">
          <span class="cart-item-count-btn" (click)="minusQuantity()">-</span> 
          {{ cartItem.quantity }} 
          <span class="cart-item-count-btn" (click)="plusQuantity()">+</span></div>
        </div>
    </div>
    <div class="col-lg-2 d-none d-lg-block">
      <div class="d-flex justify-content-center cart-item-price cart-item-price--dark">{{price}}₴</div>
    </div>
  </div>
</div>