

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}


.hide{
    opacity: .7;
    pointer-events: none;
}

.form-control{
    transition: all .3s ease-in-out;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

.notValid{
    border: 2px solid red;
    &:focus{
        border: 2px solid red;
    }
}

.valid{
    border: 2px solid green;
    &:focus{
        border: 2px solid green;
    }
}