

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './scss/params';
@import './scss/navbar';
@import './scss/card';
@import './scss/layout';


html{
    font-size: 16px;
}

body{
    font-family: $font;
}


.hide{
    opacity: .7;
    pointer-events: none;
}

.form-control{
    transition: all .3s ease-in-out;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

.notValid{
    border: 2px solid red;
    &:focus{
        border: 2px solid red;
    }
}

.valid{
    border: 2px solid green;
    &:focus{
        border: 2px solid green;
    }
}

.row-40{
    row-gap: 40px;
}