

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './scss/params';
@import './scss/navbar';
@import './scss/card';
@import './scss/layout';
@import './scss/footer';
@import './scss/lot';
@import './scss/cart-item';
@import './scss/btn';


html{
    font-size: 16px;
}

body{
    font-family: $font;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin-top: 0;
    margin-bottom: 0;
}

.hide{
    opacity: .7;
    pointer-events: none;
}

.form-control{
    transition: all .3s ease-in-out;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

.notValid{
    border: 2px solid red;
    &:focus{
        border: 2px solid red;
    }
}

.valid{
    border: 2px solid green;
    &:focus{
        border: 2px solid green;
    }
}

.row{
    &-30{
        row-gap: 30px;
    }

    &-40{
        row-gap: 40px;
    }
}

.form{
    position: relative;
    
    .searchIcon{
        height: 40px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondaryColor;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    &-control{
        padding-right: 60px;
        padding-left: 10px;
        border-radius: 0px;
        height: 40px;
        border: 2px solid $textColor;
        transition: all .5s ease-in-out;
        &:focus{
            outline: none;
            box-shadow: none;
            border-color: $secondaryColor;
        }
    }
}

.modal{
    &-content{
        position: relative;
        padding: 15px;
        border-radius: 0px;
        border: none;
        background-color: rgba(#fff, .4);
        backdrop-filter: blur(15px);

        .form-control{
            background-color: transparent;
            border: 1px solid $primaryColor;
        }

        .close{
            font-size: 32px;
            color: $primaryColor;
            position: absolute;
            top: 15px;
            right: 15px;

            &:hover{
                color: $secondaryColor;
            }
        }
    }

    &-title{
        text-align: center;
        color: $primaryColor;
        padding: 0px 20px;
        width: 100%;
    }

    &-header, &-footer{
        border: none;
    }
}

.light-pink-backdrop{
    background-color: rgba($secondaryColor, .5);
}